name: Publish to Dev.to

on:
  push:
    branches:
      - main  # Change this if your default branch is 'master'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Publish to Dev.to
        uses: sinedied/publish-devto@v2
        with:
          devto_key: ${{ secrets.DEVTO_API_KEY }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          files: 'posts/*.md' # This looks for markdown files in a 'posts' folder
          
